/* /Pages/Index.razor.rz.scp.css */
.logo[b-uj84nh6mjy] {
    float: left;
    height: 8rem;
    padding-right: 2rem;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.logo[b-gpf6x1sd3y] {
    height: 2.5rem;
}

.sidebar[b-gpf6x1sd3y] {
    background-image: linear-gradient(180deg, rgb(11, 138, 0) 0%, #064b00 70%);
}
