@page "/dice"

<MudText Typo="Typo.body1">
    <p>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="RollDie">Let's Roll!</MudButton>
        <MudField Label="We Rolled" Variant="Variant.Outlined">@rolled</MudField>
    </p>
    
</MudText>


@code
{
    private int? rolled = null;
    private DiceRoller roller = new DiceRoller();

    private void RollDie()
    {
        Console.WriteLine(
            "Rolling!"
        );
        rolled = roller.RollDie();
        Console.WriteLine(
            $"Rolled a {rolled}!"
        );
    }
}