@page "/dice"

<MudText Typo="Typo.body1">
    <p>
        Let's roll!
    </p>
    <p>
        Our Roll: @rolled <br>
    </p>
    
</MudText>
<button class="btn btn-primary" @onclick="RollDie">Roll!</button>


@code
{
    private int? rolled = null;
    private DiceRoller roller = new DiceRoller();

    private void RollDie()
    {
        Console.WriteLine(
            "Rolling!"
        );
        rolled = roller.RollDie();
        Console.WriteLine(
            $"Rolled a {rolled}!"
        );
    }
}