<div class="top-row navbar navbar-dark">
    <p>
        <img class="logo" src="images/logo.png"/>
        <a class="pl-2 navbar-brand" href="">D'Orc</a>
    </p>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="characters">
                <span class="oi oi-people" aria-hidden="true"></span> Characters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dice">
                <span class="md material-icons" aria-hidden="true">casino</span> Dice Roller
            </NavLink>
        </li>
    </ul>
    <ul class="nav flex-column lower-menu">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
